
<h2 class="sponsor" id="sponsors-gold">GOLD SPONSOR</h2>

<div style="background:#fff; padding:1em; margin:1em;box-shadow: gray 0px 0px 8px;margin-bottom:1em;"  class="sponsor-flex">
  <div>
    <a href="http://business-school.exeter.ac.uk/study/masters/mba/" target="_blank" rel="noopener nofollow"><img src="/assets/images/sponsor-logos/sponsor_uoe_business.jpg" class="el-image" alt="University of Exeter Business School"/></a>
  </div>     
</div>

<h2 class="sponsor" id="sponsors-silver">SILVER SPONSORS</h2>

<div style="background:#fff; padding:1em; margin:1em;box-shadow: gray 0px 0px 8px;margin-bottom:1em;"  class="sponsor-flex-3">
  <div>
    <a href="https://setsquared.exeter.ac.uk/" target="_blank" rel="noopener nofollow"><img src="/assets/images/sponsor-logos/sponsor_setsquared.jpg" class="el-image" alt="Set Squared Partnership"/></a>
  </div>
    <div>
    <a href="https://www.impactlab.org.uk/" target="_blank" rel="noopener nofollow"><img src="/assets/images/sponsor-logos/sponsor_impactlab.jpg" class="el-image" alt="The Environmental Futures and Big Data Impact Lab"/></a>
  </div>
</div>

<h2 class="sponsor" id="sponsors">BRONZE SPONSORS</h2>

<div style="background:#fff; padding:1em; margin:1em;box-shadow: gray 0px 0px 8px;margin-bottom:1em;"  class="sponsor-flex-3">
  <div>
    <a href="https://hmlandregistry.blog.gov.uk/tag/digital-data-and-technology/" target="_blank" rel="noopener nofollow"><img src="/assets/images/sponsor-logos/sponsor_hm_landregistry.jpg" class="el-image" alt="HM Land Registry"/></a>
  </div>
  <div>
    <a href="https://heartofswlep.co.uk/about-the-lep/strategies-and-priorities/digital-skills-partnership/" target="_blank" rel="noopener nofollow"><img src="/assets/images/sponsor-logos/sponsor_hotswlep_dsp.jpg" class="el-image" alt="Heart of the South West Local Enterprise Partnership - Digital Skills Partnership"/></a>
  </div>
  <div>
    <a href="https://www.informaticslab.co.uk/" target="_blank" rel="noopener nofollow"><img src="/assets/images/sponsor-logos/sponsor_metoffice.jpg" class="el-image" alt="The Met Office"/></a>
  </div>
  <div>
    <a href="https://www.softwaresolved.com/" target="_blank" rel="noopener nofollow"><img src="/assets/images/sponsor-logos/sponsor_softwaresolved.jpg" class="el-image" alt="Software Solved"/></a>
  </div>
  <div>
    <a href="https://www.greymatter.com/?utm_source=techexeter&utm_medium=sponsor" target="_blank" rel="noopener nofollow"><img src="/assets/images/sponsor-logos/sponsor_greymatter.jpg" class="el-image" alt="Greymatter"/></a>
  </div>  
  <div>
    <a href="https://www.advancinganalytics.co.uk" target="_blank" rel="noopener nofollow"><img src="/assets/images/sponsor-logos/sponsor_advancinganalytics.jpg" class="el-image" alt="Advancing Analytics"/></a>
  </div>
  <div>
    <a href="https://filmi.ly" target="_blank" rel="noopener nofollow"><img src="/assets/images/sponsor-logos/sponsor_filmily.jpg" class="el-image" alt="Filmily"/></a>
  </div>    
  <div>
    <a href="https://www.stem.org.uk/stem-ambassadors" target="_blank" rel="noopener nofollow"><img src="/assets/images/sponsor-logos/sponsor_stemambassadors.jpg" class="el-image" alt="Stem Ambassadors"/></a>
  </div> 
</div>

<h2 class="sponsor" id="sponsors">Supporters</h2>
<div style="background:#fff; padding:1em; margin:1em;box-shadow: gray 0px 0px 8px;margin-bottom:1em; opacity:0.8;"  class="sponsor-flex-3">
  <div>
    <a href="https://www.headforwards.com/" target="_blank" rel="noopener nofollow"><img src="/assets/images/sponsor-logos/sponsor_headforwards.jpg" class="el-image" alt="Headforwards"/></a>
  </div> 
</div>