@import 'https://fonts.googleapis.com/css?family=Roboto+Mono:100';

.responsive-video-container {
    padding-bottom: 23.4% !important;
    min-height: 150px;
}

.wide-hero { 
    .page__hero-image{ 
        min-height: 150px;
        max-height:250px;
        object-fit: cover;
    }
}

.wide-hero2 { 
    .page__hero-image{ 
        min-height: 150px;
        max-height:400px;
        object-fit: cover;
    }
}

.grid-4col {
    display: grid; 
    grid-column-gap: 20px; 
    grid-row-gap: 20px; 
    grid-template-columns: repeat(4, 1fr);
}

.grid-3col {
    display: grid; 
    grid-column-gap: 20px; 
    grid-row-gap: 20px; 
    grid-template-columns: auto auto auto; 
}

.grid-3col.no-h-gutter {
    grid-row-gap: 0px; 
    margin-bottom:1em;
}
.grid-3col.no-h-gutter > div {
    margin-bottom: 0px !important;
    margin-top: 0px !important;
}

.testimonials {
    font-size:130%;
}

li.strong { 
    font-weight:bold;
}

@media screen and (max-width: 768px) {
    .grid-4col {
        grid-column-gap: 10px; 
        grid-row-gap: 20px; 
        grid-template-columns: auto auto ; 
    }


    .grid-3col {
        display: grid; 
        grid-column-gap: 20px; 
        grid-row-gap: 20px; 
        grid-template-columns: auto; 
    }
    
    .grid-3col.no-collapse {
        grid-column-gap: 10px; 
        grid-template-columns: repeat(3, minmax(186px, 1fr));
    }
}

.speakers {
    background: url(/assets/images/background-colourful-tall.jpg);
    background-repeat: repeat;
    background-size: auto;
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 1em;
    margin-top:1em;
    box-shadow: 0 0 20px rgba(0,0,0,0.5);

    .grid-4col {
        align-items: start;
        justify-items: stretch;
    }

    > h2 {
        color:#fff;
        border-bottom:none;
        text-align:center;
        margin-bottom:1em;
        margin-bottom: 20px;
        font-size: 3em;
        margin-top: 0px;
    }
}

.speaker {
    color:#fff;
    text-align:center;
    img {
        display:block;
        margin:auto;
        max-width:250px;
        border: 7px solid #fff;
        border-radius: 50%;
        max-width: 250px;
        background: #fff;
        &:hover {
            box-shadow:0 0 10px rgba(0,0,0,.5) !important;
            border-width:0px;
        }
    }
    h2 {
        border-bottom: 3px solid #fff !important;
        display:inline-block;
    }
    p {
        text-align:center;
    }
}


.layout--speakers {
    .sidebar {
        img {
            margin-bottom:0px;
        }
        h2 {
            margin-top:0px;
            background: #000;
            color: #fff;
            padding: 0.3em;
            min-height: 44px;
        }
        .speaker-title {
            font-size:90%;
            padding: 0.3em;
            margin-top:0px;
        }
    }
    .align-with-pic {
        height: 278px;
        padding-top:0.3em;
        flex-flow: column;
        justify-content: flex-end;
        display:flex;
        background:url('/assets/images/background-colourful.jpg');
        background-size:cover;
        table {
            margin-bottom:0;
            display:table;
            td {
                border-bottom: 0px;
                color: #fff;
                a { 
                    color:#fff;
                }
                a:hover {
                    color:#000;
                }
            }
        }
    }
    header { 
        color:#fff;
        background: #000000;
        padding:0.5em;
        h1 { margin:0px; }
    }
    h3 {
        color:#fff;
        background: #000000;
        padding:0.5em;
     }

}

@media screen and (max-width: 80em) {
    .sidebar {
        img {
            max-height:500px;
            object-fit:contain;
        }
    }
    .layout--speakers {
        .align-with-pic {
            margin-top:0px; 
            height:auto;
        }
    }
}


.Emoji--forText {
    height: 1.25em;
    width: 1.25em;
    padding: 0 .05em 0 .1em;
    vertical-align: -0.2em;
}

.hacker { 
    // background: #212121;
    height:3em;
    font-family: 'Roboto Mono', monospace;
    .container {
        height: 100%;
        width: 100%;
        justify-content: center;
        align-items: center;
        display: flex;
    }
    .text {
        font-weight: 100;
        font-size: 28px;
        color: #11999E;
    }
    .dud {
        color: #757575;
    }
}