.responsive-video-container {
    padding-bottom: 23.4% !important;
    min-height: 150px;
}

.wide-hero { 
    .page__hero-image{ 
        min-height: 150px;
        max-height:250px;
        object-fit: cover;
    }
}

.wide-hero2 { 
    .page__hero-image{ 
        min-height: 150px;
        max-height:400px;
        object-fit: cover;
    }
}

.grid-4col {
    display: grid; 
    grid-column-gap: 20px; 
    grid-row-gap: 20px; 
    grid-template-columns: auto auto auto auto; 
}

.grid-3col {
    display: grid; 
    grid-column-gap: 20px; 
    grid-row-gap: 20px; 
    grid-template-columns: auto auto auto; 
}

.grid-3col.no-h-gutter {
    grid-row-gap: 0px; 
    margin-bottom:1em;
}
.grid-3col.no-h-gutter > div {
    margin-bottom: 0px !important;
    margin-top: 0px !important;
}

.testimonials {
    font-size:130%;
}

li.strong { 
    font-weight:bold;
}

@media screen and (max-width: 768px) {
    .grid-4col {
        grid-column-gap: 10px; 
        grid-row-gap: 20px; 
        grid-template-columns: auto auto ; 
    }


    .grid-3col {
        display: grid; 
        grid-column-gap: 20px; 
        grid-row-gap: 20px; 
        grid-template-columns: auto; 
    }
    
    .grid-3col.no-collapse {
        grid-column-gap: 10px; 
        grid-template-columns: repeat(3, minmax(186px, 1fr));
    }
}


.Emoji--forText {
    height: 1.25em;
    width: 1.25em;
    padding: 0 .05em 0 .1em;
    vertical-align: -0.2em;
}