.responsive-video-container {
    padding-bottom: 23.4% !important;
    min-height: 150px;
}

.wide-hero { 
    .page__hero-image{ 
        min-height: 150px;
        max-height:250px;
        object-fit: cover;
    }
}

.wide-hero2 { 
    .page__hero-image{ 
        min-height: 150px;
        max-height:400px;
        object-fit: cover;
    }
}

.grid-4col {
    display: grid; 
    grid-column-gap: 20px; 
    grid-row-gap: 20px; 
    grid-template-columns: auto auto auto auto; 
}

.grid-3col {
    display: grid; 
    grid-column-gap: 20px; 
    grid-row-gap: 20px; 
    grid-template-columns: auto auto auto; 
}

.testimonials {
    font-size:130%;
}

li.strong { 
    font-weight:bold;
}

@media screen and (max-width: 768px) {
    .grid-4col {
        grid-column-gap: 10px; 
        grid-row-gap: 20px; 
        grid-template-columns: auto auto ; 
    }


    .grid-3col {
        display: grid; 
        grid-column-gap: 20px; 
        grid-row-gap: 20px; 
        grid-template-columns: auto; 
    }

}

